
body {
    margin: 0px;
    background: linear-gradient(to right, #000000, #0f9b0f);
    color:white;
    font-weight: bold;
}

.header{
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

.main{
    display: flex;
    justify-content: center;
    padding: 0px 30px;
    margin-top:75px;
}

.main__container{
    display: flex;
    padding: 3px 30px 30px;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 40px;
    min-height: 389px;
    width: 300px;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 22px;
}

.main__container--datos{
    display: flex;
    flex-direction: column;
}

.input {
    height: 35px;
    border-radius: 11px; 
    background: linear-gradient(to right, #000000, #0f9b0f); 
    margin-top: 8px;
    text-align: center;
  }

 #InputResultadoMediaArmonica{
    font-size: 20px;
    color:white;
 }

  .button {
    
    border: none;
    border-radius: 11px;
    background: linear-gradient(to right, #000000, #0f9b0f);
    color:white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    letter-spacing: 1px;
    margin: 22px 0px;
    
  }    

  h1{
      text-align: center;
  }

  p{
      text-align: center;
  }